
/* FONT */ 

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Source+Sans+Pro:wght@200;400;900&display=swap');

* {
    font-family: 'Assistant', Arial, Helvetica, sans-serif;
    font-weight: 200;
}

h1 {
    font-family: 'Source-sans-pro', Arial, Helvetica, sans-serif;
}
h2 {
    font-family: 'Source-sans-pro', Arial, Helvetica, sans-serif;
    font-weight: 300;
}

/* COLORS */

:root {
    --main-bg-color: #1f2937;
    --second-bg-color: #e5e7eb;
    --main-text-color: #f9faf8;
    --second-text-color: #e5e7eb;
    --cta-bg-color: #3882f6;
    --second-text-color: #1f2937;
}

/* CSS FIle  */

.menu a {
    text-decoration: none;
    color: var(--second-bg-color);
    padding: 10px;
}
.menu  a:hover {
    color: var(--main-text-color);
    background-color: var(--cta-bg-color);
    filter:brightness(150%);
    border-radius: 0px 10px 0px 10px; 
    padding: 10px;  
}

.contact a:hover {
    color: var(--main-text-color);
    background-color: var(--cta-bg-color);
    filter:brightness(150%);
    border-radius: 10px 0px 10px 0px; 
    padding: 10px;  
}

* {
    margin: 0px;
}

.hero {
    background-color: var(--main-bg-color);
    min-height: 90vh;
    border-radius: 0px 0px 100px 0px;


}
 .hero h1{
    color: var(--main-text-color)
}
.main p{
    color: var(--second-bg-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.menu ul{
    padding: 0px;
    margin: 0px;
    color: var(--second-bg-color);
}

.menu li{
    display: inline;
    margin-left: 20px;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20vh;

}

.main-content {
    max-width: 500px;

}

.main-content button {
    color: var(--main-text-color);
    background-color: var(--cta-bg-color);
    border: none;   
    padding: 10px;
    border-radius: 10px 0px 10px 0px;
}

.main-content button:hover {
 background-color: var(--cta-bg-color);
 filter: brightness(150%);
 border-radius: 0px 10px 0px 10px;
 
}