
/* FONT */ 

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Source+Sans+Pro:wght@200;400;900&display=swap');

* {
    font-family: 'Assistant', Arial, Helvetica, sans-serif;
    font-weight: 200;
}

h1 {
    font-family: 'Source-sans-pro', Arial, Helvetica, sans-serif;
}
h2 {
    font-family: 'Source-sans-pro', Arial, Helvetica, sans-serif;
    font-weight: 300;
}

/* COLORS */

:root {
    --main-bg-color: #1f2937;
    --second-bg-color: #e5e7eb;
    --main-text-color: #f9faf8;
    --second-text-color: #e5e7eb;
    --cta-bg-color: #3882f6;
    --second-text-color: #1f2937;
}

/* CSS FIle  */

@media only screen and (max-width: 600px)  { 
    .menu {font-size: 16px;}
    nav {flex-direction: column;}
    .testimonial-container { padding: 25px;}
    
}

@media only screen and (max-width: 800px) {
.main {flex-direction: column;
gap: 50px;
padding: 20px;}
}

.menu a {
    text-decoration: none;
    color: var(--second-bg-color);
    padding: 10px;
}
.menu  a:hover {
    color: var(--main-text-color);
    background-color: var(--cta-bg-color);
    filter:brightness(150%);
    border-radius: 0px 10px 0px 10px; 
    padding: 10px;  
}

.contact a:hover {
    color: var(--main-text-color);
    background-color: var(--cta-bg-color);
    filter:brightness(150%);
    border-radius: 10px 0px 10px 0px; 
    padding: 10px;  
}

* {
    margin: 0px;
}

.hero {
    background-color: var(--main-bg-color);
    min-height: 90vh;
    border-radius: 0px 0px 100px 0px;


}
 .hero h1{
    color: var(--main-text-color)
}
.main p{
    color: var(--second-bg-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.menu ul{
    padding: 0px;
    margin: 0px;
    color: var(--second-bg-color);
}

.menu li{
    display: inline;
    margin-left: 20px;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20vh;

}

.main-content {
    max-width: 500px;

}

.main-content button {
    color: var(--main-text-color);
    background-color: var(--cta-bg-color);
    border: none;   
    padding: 10px;
    border-radius: 10px 0px 10px 0px;
}

.main-content button:hover {
 background-color: var(--cta-bg-color);
 filter: brightness(150%);
 border-radius: 0px 10px 0px 10px;
 
}

.services {
    margin-top: 25px;
    margin-bottom: 25px;
}

.Servicestitle {
    text-align: center;
    margin-bottom: 25px;
}

.Services-container {
    display: flex;
    justify-content: center;
    gap: 52px;
    flex-wrap: wrap;
    align-items: center;
    min-height: 50vh;
    
}
.services1 {
    max-width: 200px;
    text-align: center;
    border: Solid var(--main-bg-color) 2px;
    border-radius: 25px 0px 25px 0px;
    box-shadow: 5px 10px var(--cta-bg-color);
 
}
.services1:hover {
    box-shadow: 5px 10px var(--cta-bg-color);
    filter: brightness(150%);
}

.services1 img {
   
}
.services1 p {
border-top: solid 2px var(--main-bg-color);
background-color: #fafafa;
border-radius: 0px 0px 23px 0px;
}

strong {
    font-weight: bold;
}

.testimonial {
    min-height: 30vh;
    background-color: var(--second-bg-color);
    border-radius: 100px 25px 100px 25px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.testimonial-container {
display: flex;
flex-direction: column;
margin: 0 auto;
flex-wrap: wrap;
max-width: 500px;
justify-content: center;

}

.author {
    align-self: flex-end;
}

.quote {
    align-self: center;

}

.cta {
    min-height: 50vh;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
   
    
}
.cta-container {
    background-color: var(--cta-bg-color);
    display: flex;
    max-width: 60%;
    align-items: center;
    padding: 40px;
    gap: 10px;
    margin: 0 auto;
    flex-wrap: wrap;
    border-radius: 25px 0px 20px 0px;
}
.cta-container-item-1 {
    flex: 2 1 auto;
}

.cta-container h2 {
    color: var(--main-text-color)
}
.cta-container p {
    color: var(--main-text-color);
}
.cta-container-item-2 button {
    background-color: transparent;
    border-radius:  25px 0px 25px 0px;
    border-color: #fff;
    padding: 15px;
    color: #fff;
    border-width: 2px;
    border-style: solid;
}

.cta-container-item-2 button:hover {
    filter:brightness(150%);
    background-color: var(--cta-bg-color);
    border-radius: 0px 25px 0px 25px; 
}

footer {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 400;
    
}

footer p {
    max-height: 20px;
}
